
@{
    ViewData["Title"] = "AddTask";
}
@model TaskList

<h1>Add Task</h1>

<form action="../CapstoneFourDb/AddTask" method="post">
    <input type="text" name="Description" placeholder="Description" />
    <input type="datetime" name="DueDate" placeholder="Due Date" />
    <input type="hidden" name="UserId"/>

    <input type="submit" class="btn btn-primary" value="Add" />


</form>
