
@{
    ViewData["Title"] = "ViewTaskList";
}

@model List<TaskList>

<h1>ViewTaskList</h1>

<table class="table">
    <tr>Id</tr>
    <tr>Description</tr>
    <tr>Due Date</tr>
    <tr>Complete</tr>

@foreach (TaskList task in Model)
{


<tr>
    <td>@task.TaskId</td>
    <td>@task.TaskDescription</td>
    <td>@task.DueDate</td>
    <td>@task.Complete</td>
    <td></td>

    <td><a href="../CapstoneFourDb/UpdateTask?=id=@task.TaskId" class="btn btn-primary"> Update Task</a></td>
    <td><a href="../CapstoneFourDb/DeleteTask?=id=@task.TaskId" class="btn btn-danger"> Delete Task</a></td>

</tr>

}
</table>
<td><a href ="../CapstoneFourDb/AddTask" class="btn btn-primary">Add New Task </a></td>